<!-- Header Area wrapper Starts -->
<header id="header-wrap">
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-menu"></span>
        <span class="icon-menu"></span>
        <span class="icon-menu"></span>
        </button>
        <a href="index.html" class="navbar-brand"><img src="../assets/img/logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">
            About US
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">
            Projects
            </a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" routerLink="/team">
            Team
            </a>
        </li> Issue#001--> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/courses" routerLinkActive="active">
            Courses
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/career" routerLinkActive="active">
            Career  
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            Contact
            </a>
        </li>
        </ul>
    </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
    <li>
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
        Home
        </a>
    </li>
    <li>
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">
        About Us
        </a>
    </li>
    <li>
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">
        Projects
        </a>
    </li>
    <!--<li>
        <a class="page-scroll" routerLink="/team">
        Team
        </a>
    </li> Issue#001-->
    <li>
        <a class="nav-link" routerLink="/courses" routerLinkActive="active">
        Courses
        </a>
    </li>
    <li>
        <a class="nav-link" routerLink="/career" routerLinkActive="active">
        Career
        </a>
    </li>
    <li>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
        Contact
        </a>
    </li>
    </ul>
    <!-- Mobile Menu End -->

</nav>
<!-- Navbar End -->

</header>
<!-- Header Area wrapper End -->