<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
<div class="container">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <div class="footer-logo mb-3">
            <img src="../assets/img/logo.png" alt="">
        </div>
        <p>We are a group of enthusiastic engineers who like to solve real-time and real-world problems.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3 class="footer-titel">Company</h3>
        <ul>
            <li><a routerLink="/aboutus" routerLinkActive="active">History</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <!--<li><a routerLink="/aboutus" routerLinkActive="active">Mission</a></li>
            <li><a routerLink="/aboutus" routerLinkActive="active">Strategy</a></li>-->
        </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        <h3 class="footer-titel">About</h3>
        <ul>
            <li><a routerLink="/career" routerLinkActive="active">Career</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <h3 class="footer-titel">Find us on</h3>
        <div class="social-icon">
            <a class="facebook" href="https://www.facebook.com/Asaimani-Works-580475935493016/" target="_blank"><i class="lni-facebook-filled"></i></a>
            <a class="twitter" href="https://twitter.com/AsaimaniWorks" target="_blank"><i class="lni-twitter-filled" ></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/asaimaniworks" target="_blank"><i class="lni-linkedin-filled"></i></a>
        </div>
        </div>
    </div>
    </div>  
</div>     
</footer> 
<!-- Footer Section End -->