/*.col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}*/

#pricing .table .description {
    text-align: left;
    padding: 0px 50px;
    margin-bottom: 20px;
    height: 200px;
  }

  #pricing .table .description li {
    font-size: 14px;
    font-weight: 400;
    color: #abacae;
    padding-bottom: 10px;
    list-style-type: disc;
  }

  .title-hl {
    font-size: 32px;
    margin-bottom: 0px;
    text-align:start
  }