<!-- Pricing section Start --> 
<section id="pricing" class="section-padding">
    <div class="container">
    <br>
    <br>
    <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Training on Embedded System</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table wow fadeInLeft" data-wow-delay="1.2s">
            <div class="title">
              <h3>Hardware</h3>
            </div>
            <ul class="description">
              <li>Basics</li>
              <li>Circuit Design</li>
              <li>Part Selection</li>
              <li>Schematic Design</li>
              <li>Simulator</li>
              <li>Debugging</li>
            </ul> 
          </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 active">
          <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
            <div class="title">
              <h3>Software</h3>
            </div>
            <ul class="description">   
              <li>Pseudo Code</li>
              <li>Embedded C and C++</li>
              <li>Embedded Linux</li>
              <li>Cross Compile and Native compile</li>
              <li>Shell Programming</li>
              <li>Qt API</li>
            </ul>
         </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table wow fadeInRight" data-wow-delay="1.2s">
            <div class="title">
              <h3>Linux</h3>
            </div>
            <ul class="description">
              <li>Shell Programming</li>
              <li>Kernel</li>
              <li>Files</li>
              <li>Memory Management</li>
              <li>Device Drivers</li>
              <li>Libraries</li>
            </ul>  
          </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="title">
                <h3>Interfaces</h3>
              </div>
              <ul class="description">   
                <li>WiFi</li>
                <li>Bluetooth</li>
                <li>GSM/GPS/GPRS</li>
                <li>CAN/SPI/I2C</li>
                <li>dsPIC/I2S</li>
                <li>USB/JTAG</li>
              </ul>
           </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing Table Section End -->