<section id="contact" class="section-padding">    
        <div class="container">
            <div class="col-12">
            <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"></h2>
                <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div></div>
                    <app-project-data></app-project-data>
                </div>
                </div>
            </div>
            </div>
            </div>
        </div> 
</section>
        