
<section id="career" class="section-padding">
    <br>
    <app-slider></app-slider>
    <div id="career">
        <div class="container-fluid">
            <br>
            <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Our Story</h2>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="text-wrapper">
                        <div class="row">
                            <h2 class="title-hl1 wow fadeInLeft" data-wow-delay="0.3s">Chapter 1: The Beginning</h2>
                            <div class="features-box wow fadeInLeft" style="text-align: justify" data-wow-delay="0.6s">
                                <div class="features-content" style="text-align: justify;">
                                    25 Years ago, Mr. T Rajendran established TRASK Company. It started as Construction company which offers services like civil, plumbing, electrical and mechanical works.
                                </div>
                                <div class="features-content" style="text-align: justify;">
                                    In 2011, Asaimani Works was established to move TRASK Company to next level in Engineering. We started as Hobby Projects and Electrical works company. Later in 2012, We started a sister concern "Beyond Edge Technology" for Computer Software and Hardware projects.
                                </div>
                            </div>
                            <h2 class="title-hl1 wow fadeInLeft" data-wow-delay="0.3s">Chapter 2: Asaimani Works Reloaded</h2>
                            <div class="features-box wow fadeInLeft" style="text-align: justify" data-wow-delay="0.6s">
                                <div class="features-content" style="text-align: justify;">
                                    As the days progressed, we were working with what we know and we got some recognitions from our clients. With knowledge alone as investment we marched forward. We started Training programs for college graduates, freshers and experience persons.
                                </div>
                                <div class="features-content" style="text-align: justify;">
                                    We moved from Hobby Projects to R&D Projects, from Text book problems to Real-Time Industrial Problems and from Finding Solutions to Giving Solutions.
                                </div>
                            </div>
    
                            <h2 class="title-hl1 wow fadeInLeft" data-wow-delay="0.3s">Chapter 3: From and Beyond</h2>
                            <div class="features-box wow fadeInLeft" style="text-align: justify" data-wow-delay="0.6s">
                                <div class="features-content" style="text-align: justify;">
                                    We Started to write new pages in our story with latest technologies. We expect challenging problems and to incorporate innovative solutions. Journey Continues...
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
    
               <div class="col-lg-2 col-md-8 col-sm-8 padding-none">
                    <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
                        <h5>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h5>
                        <mwl-calendar-month-view
                        [viewDate]="viewDate"
                        [events]="events">
                        </mwl-calendar-month-view>                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
            