.title-hl1 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .title-hl {
    font-size: 32px;
    margin-bottom: 0px;
    text-align: center;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
}

.flex-container {
  line-height: 75px;
}

.cal-month-view .cal-cell-top {
  min-height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }


.cal-month-view .cal-day-cell {
  min-height: 50px; }
  @media all and (-ms-high-contrast: none) {
    .cal-month-view .cal-day-cell {
      display: block; } }