<div id="hero-area" class="hero-area-bg">
<div class="overlay"></div>
<!-- Contact Section Start -->
<section id="contact" class="section-padding">    
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="section-header text-center">
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"></h2>
        </div>
    </div>
    </div>
    <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="contact-block">
        <h2>Contact Form</h2>
        <form id="contactForm">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                <div class="help-block with-errors"></div>
                </div>                                 
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                <div class="help-block with-errors"></div>
                </div> 
            </div>
                <div class="col-md-12">
                <div class="form-group">
                <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"> 
                <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button">
                <button class="btn btn-common" id="form-submit" type="submit">Send Message</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div> 
                <div class="clearfix"></div> 
                </div>
            </div>
            </div>            
        </form>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="contact-right-area wow fadeIn">
        <h2>Get In Touch</h2>
        <div class="contact-right">
            <div class="single-contact">
            <div class="contact-icon">
                <i class="lni-map-marker"></i>
            </div>
            <p>5/3 Ramachandra Iyer Street,
                    Muthu Reddy Garden,
                    Thyagaraya Nagar,
                    Chennai - 600 017.</p>
            </div>
            <div class="single-contact">
            <div class="contact-icon">
                <i class="lni-envelope"></i>
            </div>
            <p><a href="#">info@asaimani.in</a></p>
            </div>
            <div class="single-contact">
            <div class="contact-icon">
                <i class="lni-phone-handset"></i>
            </div>
            <p><a href="#">+91 805 61 31 447</a></p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div> 
</section>
<!-- Contact Section End -->
</div>


<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.857278037464!2d80.22916231484999!3d13.044755216798228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266f86de80e6f%3A0xdab5fb2e7022080f!2sAsaimani+Works!5e0!3m2!1sen!2sin!4v1563430256556!5m2!1sen!2sin" width="300px" height="450" frameborder="0" style="border:0" >
    </iframe>
    </div>
    <style> .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    </style>
