
.sidenav-container {
    height: 100vh;
    width: 100vw;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

nav mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}