
<section id="career" class="section-padding"> 
<div id="career">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper">
            <div>
                <br>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Life At Asaimani Works</h2>
                <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" style="text-align: justify" data-wow-delay="0.6s">
                    <div class="features-content" style="text-align: justify;">
                        Any one with good interest to make something that will make others to look at it, are all welcomed. We don't work rather we play with what we know. This is what we know and thats why we play with that. Asaimani Works needs multi talented minds to explore the resource. Building from a known was simpler and easy but building the known is little tough. join our hands to make it easier.       
                    </div>
                    </div>
                </div>           
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 padding-none">
            <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
            <img src="../../assets/img/career.png" alt="">
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
        