<!-- Owl Slider Section Start -->
<section class="sloder-img section-padding1">
<div class="container">
    <div style="text-align:center">
          <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../assets/img/slide/img1.jpg"></ng-template>  
          <ng-template carouselSlide><img src="../../assets/img/slide/img2.jpg"></ng-template>  
          <ng-template carouselSlide><img src="../../assets/img/slide/img3.jpg"></ng-template> 
          <ng-template carouselSlide><img src="../../assets/img/slide/img4.jpg"></ng-template>  
          <ng-template carouselSlide><img src="../../assets/img/slide/img5.jpg"></ng-template>
          <ng-template carouselSlide><img src="../../assets/img/slide/img6.jpg"></ng-template>  
        </owl-carousel-o>
    </div>
</div>
</section>
<!-- Owl Slider Section End -->  
