<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
<div class="overlay"></div>
<div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="contents text-center">
        <h2 class="head-title wow fadeInUp">Asaimani Works <h2 class="head-sub wow fadeInUp">Consultant Engineer</h2></h2>
        <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
            <img class="img-fluid" src="../assets/img/homeimg.jpg" alt="">
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- Hero Area End -->

<!-- Services Section Start -->
<section id="services" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Design Your Ideas</h2>
        </div>
        <div class="row">
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon">
                <i class="lni-cog"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">Prototype Development</a></h3>
                <p>Prototype is making your Ideas into Beings. We have state of the art product development equipment that allows us to do prototype as soon as the design is ready.</p>
            </div>
            </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon">
                <i class="lni-magnifier"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">R&D Projects</a></h3>
                <p>Asaimani Works involved in multiple R&D Projects. We have highly skilled Engineers who can give creative solutions to real-time and real-world problems.</p>
            </div>
            </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
            <div class="icon">
                <i class="lni-laptop"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">Automation</a></h3>
                <p>We provide Automation solutions to reduce human efforts, which helps in reducing the risk factor and increase the productivity.</p>
            </div>
            </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
            <div class="icon">
                <i class="lni-pencil-alt"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">Embedded Training</a></h3>
                <p>Embedded System training starts with C , C++ programming and Assembly programming. Training provided with industrial specific boards and standards.</p>
            </div>
            </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
            <div class="icon">
                <i class="lni-mobile"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">IoT</a></h3>
                <p>The Internet has become a part of everyday life. IoT (Internet of Things) help in connecting the embedded devices, smart devices, sensors and software.</p>
            </div>
            </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
            <div class="icon">
                <i class="lni-layers"></i>
            </div>
            <div class="services-content">
                <h3><a href="#">Software</a></h3>
                <p>We make Real-Time IoT Dashboards, Android Applications, Web Designing and Software applications.</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- Services Section End -->